Repository SpaciousStation14/SpaciousStation14, pull requests merged in 2025-03, with the labels that each got.

#39 fix testfail
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: YML

#43 fire
  Resources/Textures/Mobs/Effects/onfire.rsi/Generic_mob_burning.png
  Resources/Textures/Mobs/Effects/onfire.rsi/Monkey_burning.png
  Resources/Textures/Mobs/Effects/onfire.rsi/Mouse_burning.png
  Resources/Textures/Mobs/Effects/onfire.rsi/Standing.png
  Resources/Textures/Mobs/Effects/onfire.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#44 Sound reverb
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/_Finster/Audio/AudioEffectsSystem.Deaf.cs
  Content.Client/_Finster/Audio/AudioEffectsSystem.Echo.cs
  Content.Client/_Finster/Audio/AudioEffectsSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/_ERRORGATE/Hearing/DeafnessSystem.cs
  Content.Server/_ERRORGATE/Hearing/HearingChangedEvent.cs
  Content.Server/_Finster/Audio/AudioEffectsSystem.Echo.cs
  Content.Server/_Finster/Audio/AudioEffectsSystem.cs
  Content.Shared/_ERRORGATE/Hearing/DeafComponent.cs
  Content.Shared/_ERRORGATE/Hearing/HearingComponent.cs
  Content.Shared/_Finster/Audio/SharedAudioEffectsSystem.cs
  Resources/Locale/en-US/_errorgate/hearing.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#45 MOTHERFUCKING PREDICTED GUNS
  Content.Client/Projectiles/ProjectileSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Projectiles/ProjectileCollideEvent.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Components/RangedDamageSoundComponent.cs
  Content.Shared/Weapons/Ranged/Events/RequestShootEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedFlyBySoundSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Random/SplitMix64.cs
  Content.Shared/_RMC14/Random/Xoroshiro64S.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/IgnorePredictionHideComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileClientComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileServerComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/SharedGunPredictionSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, Changes: C#

#48 Fixed some stuff
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Textures/_Spacious/Clothing/OuterClothing/Jackets/apothecary.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Spacious/Clothing/OuterClothing/Jackets/master_surgeon.rsi/inhand-left.png
  Resources/Textures/_Spacious/Clothing/OuterClothing/Jackets/master_surgeon.rsi/inhand-right.png
  Resources/Textures/_Spacious/Clothing/OuterClothing/Jackets/physician.rsi/inhand-left.png
  Resources/Textures/_Spacious/Clothing/OuterClothing/Jackets/physician.rsi/inhand-right.png
  Resources/Textures/_Spacious/Clothing/Shoes/apothecary_boots.rsi/equipped-FEET.png
  Resources/Textures/_Spacious/Clothing/Uniforms/Scrubs/apothecary_scrubs.rsi/equipped-INNERCLOTHING.png
Labels: Changes: YML, Changes: Sprite
