Repository SpaciousStation14/SpaciousStation14, pull requests merged in 2025-02, with the labels that each got.

#30 Super Epic Law Update 1 gorillion
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/_Spacious/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, Changes: Localization

#33 Drip or Die
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Events/HitScanReflectAttempt.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Spacious/Style/ItemStyleComponent.cs
  Content.Shared/_Spacious/Style/MobStyleComponent.cs
  Content.Shared/_Spacious/Style/StyleSystem.cs
  Resources/Audio/_Spacious/dodge.ogg
  Resources/Locale/en-US/_Spacious/style.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Spacious/Entities/style_debug.yml
Labels: Changes: Audio, Changes: YML, Changes: C#, Changes: Localization

#37 ungoida the code
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Changes: YML, Changes: C#
