Repository SpaciousStation14/SpaciousStation14, pull requests merged in 2025-01, with the labels that each got.

#8 Reapply fixes
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Species/shadowkin.yml
Labels: Changes: YML

#5 Meta-Station Map some mapping tools
  Resources/Maps/Misc/terminal.yml
  Resources/Maps/Shuttles/emergency_meta.yml
  Resources/Maps/Spacious/meta.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/mapping_actions.yml
Labels: Changes: YML, Changes: Map

#9 Plasmeme Cryo Fix
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: Changes: YML, Changes: C#

#19 Upstream mergerino 01-20-25
  Content.Client/Electrocution/ElectrocutionHUDVisualizerSystem.cs
  Content.Client/Electrocution/ElectrocutionOverlaySystem.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Shared/Electrocution/Components/ElectrocutionHUDVisualsComponent.cs
  Content.Shared/Electrocution/Components/ShowElectrocutionHUDComponent.cs
  Content.Shared/Electrocution/SharedElectrocution.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Locale/en-US/random-barks/hissing.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/DeltaV/Catalog/Shipyard/civilian.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/miningrock.yml
  Resources/Prototypes/DeltaV/Research/arsenal.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/hardsuits.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar1.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar2.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar3.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar4.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar5.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/closed.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/open.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite
